.login-container {
  background-image: url('/assets/photos/bg-image.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  position: relative; /* Ensure container is relative */
}

.login-card {
  position: absolute;
  right: 100px; /* Adjust as needed */
  top: 100px; /* Adjust as needed */
  width: 400px;
  height: 300px;
}

.card-body {
  padding: 20px; /* Adjust padding as needed */
}

.form-group {
  margin-bottom: 15px; /* Add space between form fields */
}

.btn-block {
  margin-top: 10px; /* Add space above the button */
}
