<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/home">Former App</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/procussed">Procussed</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/rawinventory">Raw Inventory</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/rpt">R.P.T</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/processed">Processed</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/prostay">Prostay</a>
        </li>
      </ul>
      <!-- Logout button aligned to the right -->
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <button class="btn btn-outline-danger" (click)="logout()">
            Logout
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
