<div class="my-4 text-center">
  <h2>Order Placement</h2>
</div>

<div class="container my-5">
  <!-- Farmer Information -->
  <div class="card p-4 shadow-sm">
    <h4 class="card-title">Farmer Information</h4>
    <form (ngSubmit)="checkout()" #orderForm="ngForm">
      <!-- Farmer Name -->
      <div class="mb-3">
        <label class="form-label" for="farmerName">Farmer Name:</label>
        <input
          class="form-control"
          type="text"
          id="farmerName"
          [(ngModel)]="newOrder.farmerName"
          name="farmerName"
          required
          #farmerName="ngModel"
        />
        <!-- Validation -->
        <div
          *ngIf="farmerName.invalid && (farmerName.dirty || farmerName.touched)"
          class="text-danger"
        >
          <div *ngIf="farmerName.errors?.['required']">
            Farmer Name is required.
          </div>
        </div>
      </div>

      <!-- Mobile Number -->
      <div class="mb-3">
        <label class="form-label" for="phoneNumber">Mobile Number:</label>
        <input
          class="form-control"
          type="number"
          id="phoneNumber"
          [(ngModel)]="newOrder.phoneNumber"
          name="phoneNumber"
          required
          minlength="10"
          maxlength="10"
          pattern="[0-9]{10}"
          #phoneNumber="ngModel"
        />
        <!-- Validation -->
        <div
          *ngIf="
            phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)
          "
          class="text-danger"
        >
          <div *ngIf="phoneNumber.errors?.['required']">
            Phone number is required.
          </div>
          <div *ngIf="phoneNumber.errors?.['pattern']">
            Phone number must contain 10 digits.
          </div>
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="purchaseLocation"
          >Location of Purchase</label
        >
        <input
          class="form-control"
          type="text"
          id="purchaseLocation"
          [(ngModel)]="newOrder.purchaseLocation"
          name="purchaseLocation"
          required
          #purchaseLocation="ngModel"
        />
        <!-- Validation -->
        <div
          *ngIf="
            purchaseLocation.invalid &&
            (purchaseLocation.dirty || purchaseLocation.touched)
          "
          class="text-danger"
        >
          <div *ngIf="purchaseLocation.errors?.['required']">
            Purchase location is required.
          </div>
        </div>
      </div>

      <!-- Product Information -->
      <div class="card p-4 shadow-sm my-4">
        <h4 class="card-title">Add Product</h4>

        <!-- Category -->
        <!-- <div class="mb-3">
          <label class="form-label" for="category">Category:</label>
          <select
            id="category"
            class="form-select"
            [(ngModel)]="selectedCategory"
            (change)="onCategoryChange($event)"
            name="category"
            required
            #category="ngModel"
          >
            <option value="">Select a category</option>
            <option *ngFor="let category of categories" [value]="category.name">
              {{ category.name }} (Price: {{ category.price }}, Weight: {{ category.weight }} kg)
            </option>
          </select>
        </div> -->
        <div class="form-group">
          <label class="form-label" for="category">Category:</label>
          <div class="dropdown-container">
            <select
              id="category"
              class="form-select"
              [(ngModel)]="newProduct.category.name"
              (change)="onCategoryChange($event)"
              name="category"
              required
              #category="ngModel"
            >
              <option value="">Select a category</option>
              <option
                *ngFor="let category of categories"
                [value]="category.name"
              >
                {{ category.name }}
              </option>
            </select>
          </div>
          <!-- Subcategory dropdown, shown only if a category is selected -->
          <div *ngIf="newProduct.category">
            <label class="form-label" for="subcategory" style="display: none"
              >Subcategory:</label
            >
            <select
              id="subcategory"
              class="form-select"
              [(ngModel)]="newProduct.subcategory.name"
              (change)="onSubcategoryChange($event)"
              name="subcategory"
              required
              #subcategory="ngModel"
            >
              <option value="">Select a subcategory</option>
              <option
                *ngFor="let subcategory of filteredSubcategories"
                [value]="subcategory.name"
              >
                {{ subcategory.subname }}
              </option>
            </select>
          </div>

          <!-- Validation messages -->
          <div
            *ngIf="category.invalid && (category.dirty || category.touched)"
            class="text-danger"
          >
            <div *ngIf="category.errors?.['required']">
              Category is required.
            </div>
          </div>
        </div>

        <div class="mb-3" *ngIf="newProduct.subcategory">
          <label class="form-label" for="bagtype">Bag Type:</label>

          <div *ngFor="let bagType of bagtype">
            <input
              type="radio"
              id="{{ bagType }}"
              name="bagType"
              [(ngModel)]="newOrder.bagtype"
              [value]="bagType"
            />
            <label for="{{ bagType }}">{{ bagType }}</label>
          </div>
        </div>

        <!-- Number of Products -->
        <div class="mb-3">
          <label class="form-label" for="quantity">Number of Products:</label>
          <input
            type="number"
            class="form-control"
            [(ngModel)]="newProduct.quantity"
            name="quantity"
            required
            (ngModelChange)="calculateTotalProductAmount()"
          />
        </div>

        <!-- Price -->
        <div class="mb-3">
          <label class="form-label" for="price"
            >Price per bag (Per Unit):</label
          >
          <input
            type="number"
            class="form-control"
            [(ngModel)]="newProduct.price"
            name="price"
            readonly
          />
        </div>

        <!-- Total Amount -->
        <div class="mb-3">
          <h5>Total Amount: {{ newProduct.totalPrice | currency : "INR" }}</h5>
        </div>

        <div>
          <button
            type="button"
            (click)="addProduct()"
            class="btn btn-primary"
            [disabled]="
              !newProduct.category?.name ||
              !newProduct.quantity ||
              !newProduct.subcategory?.name
            "
            [ngClass]="{
              'btn-disabled':
                !newProduct.category?.name ||
                !newProduct.quantity ||
                !newProduct.subcategory?.name
            }"
          >
            Add Product
          </button>
        </div>
      </div>

      <!-- product summary -->
      <div class="card p-4 shadow-sm my-5" *ngIf="newOrder.products.length">
        <h4 class="card-title">Product Summary</h4>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Category</th>
              <th>Quantity</th>
              <th>Weight (kg)</th>
              <th>Price</th>
              <th>Total Price</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of newOrder.products; let i = index">
              <td>{{ product.category?.name }}</td>
              <td>{{ product.quantity }}</td>
              <td>
                {{ product.quantity * (product.category?.weight || 0) }} kg
              </td>
              <td>{{ product.price | currency : "INR" }}</td>
              <td>{{ product.totalPrice | currency : "INR" }}</td>
              <td>
                <!-- Buy Now Button -->
                <button
                  class="btn btn-primary btn-sm action-btn"
                  (click)="buyNow(product)"
                  *ngIf="
                    newOrder.farmerName &&
                    newOrder.phoneNumber &&
                    newOrder.purchaseLocation
                  "
                >
                  Buy Now
                </button>

                <!-- Delete Button -->
                <button
                  class="btn btn-danger btn-sm action-btn"
                  (click)="deleteProduct(i)"
                >
                  Delete
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <h5>
          Total Amount of All Products:
          {{ totalAmountOfAllProducts | currency : "INR" }}
        </h5>

        <!-- Buy All Button -->
        <div class="text-end">
          <button
            class="btn btn-success"
            (click)="buyAll()"
            *ngIf="
              newOrder.farmerName &&
              newOrder.phoneNumber &&
              newOrder.purchaseLocation
            "
          >
            Buy All
          </button>
        </div>
      </div>

      <!-- Transport Information -->
      <!-- <div class="mb-3">
        <label class="form-label" for="vehicleType">Vehicle Type:</label>
        <select
          class="form-select"
          [(ngModel)]="selectedTransportType"
          (change)="onVehicleTypeChange($event)"
          name="vehicleType"
          required
        >
          <option value="">Select vehicle type</option>
          <option *ngFor="let transport of transportTypes" [value]="transport">
            {{ transport }}
          </option>
        </select>
      </div> -->

      <!-- Table to show vehicles of the selected type -->
      <!-- <app-transport
        (transportDetailsCompleted)="onTransportDetailsCompleted($event)"
      ></app-transport> -->
    </form>
  </div>

  <!-- order summary -->
  <div class="card p-4 shadow-sm my-5" *ngIf="newOrder.products.length">
    <h4 class="card-title">Order Summary</h4>
    <div class="mb-3 p-3">
      <h5>Farmer Name: {{ newOrder.farmerName }}</h5>
      <h5>Phone Number: {{ newOrder.phoneNumber }}</h5>
      <h5>
        Total Amount of All Products:
        {{ newOrder.totalAmountAllProducts | currency : "INR" }}
      </h5>
      <!-- <h5 *ngIf="newOrder.transport.vehicleType">
        Selected Vehicle Type: {{ newOrder.transport.vehicleType }}
      </h5> -->
      <!-- <h5 *ngIf="newOrder.transport.vehicleNumber">
        Vehicle Number: {{ newOrder.transport.vehicleNumber }}
      </h5>
      <h5 *ngIf="newOrder.transport.driverPhoneNumber">
        Driver Phone: {{ newOrder.transport.driverPhoneNumber }}
      </h5>
      <h5 *ngIf="newOrder.transport.driverName">
        Driver Name: {{ newOrder.transport.driverName }}
      </h5> -->

      <!-- <button
        class="btn btn-info"
        type="button"
        (click)="showAddressForm = true"
      >
        Add Address
      </button> -->
    </div>
  </div>

  <div class="text-center mt-3">
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="!orderForm.valid"
      (click)="checkout()"
    >
      Submit & Checkout
    </button>
    <!-- <button class="btn btn-success" (click)="checkout()">Checkout</button> -->
  </div>
</div>
