.login-container {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Space between text and login card */
  height: 100vh;
  padding: 0 20px;
}

.text-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  padding-left: 50px; /* Add padding to the text */
}

.procurement-login-text {
  font-size: 80px;
  font-weight: bold;
  color: #333;
  letter-spacing: 10px; /* Increased letter spacing for better separation */
  padding: 20px;
  margin-right: 50px; /* Add margin between the text and login card */
  /* word-break: break-word; Ensure proper text wrapping */
  line-height: 1.2; /* Adjust line height for better text spacing */
}

.login-card {
  position: relative;
  width: 400px;
  height: 300px;
  margin-right: 50px; /* Space between the text and login card */
}

.card-body {
  padding: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.btn-block {
  margin-top: 10px;
}
