/* login.component.css */
.login-container {
    background-image: url('/assets/bg-image.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-card {
    width: 100%;
    max-width: 400px;
    padding: 20px;
  }
  