<div class="container mt-4">
  <h2>Order Summary</h2>

  <!-- Search Input -->
  <div class="search-container mb-3">
    <input
      type="text"
      [(ngModel)]="searchTerm"
      (ngModelChange)="search()"
      placeholder="Search by name, phone, or date"
      class="form-control"
    />
  </div>

  <!-- Check if there are orders to display -->
  <div *ngIf="filteredOrders.length > 0; else noOrders">
    <table class="table table-bordered table-striped">
      <thead class="table-dark">
        <tr>
          <th>Serial No.</th>
          <th>Farmer Name</th>
          <th>Phone Number</th>
          <th>Products</th>
          <th (click)="sort('totalAmountAllProducts')">
            Total Amount
            <span
              *ngIf="sortDirection.totalAmountAllProducts === undefined"
              class="arrow"
            ></span>
            <span
              *ngIf="sortDirection.totalAmountAllProducts"
              class="arrow down"
              >▲</span
            >
            <span *ngIf="!sortDirection.totalAmountAllProducts" class="arrow up"
              >▼</span
            >
          </th>
          <th (click)="sort('purchaseDate')">
            Purchase Date
            <span
              *ngIf="sortDirection.purchaseDate === undefined"
              class="arrow"
            ></span>
            <span *ngIf="sortDirection.purchaseDate" class="arrow down">▲</span>
            <span *ngIf="!sortDirection.purchaseDate" class="arrow up">▼</span>
          </th>
          <th>Transport</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of filteredOrders; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ order.farmerName }}</td>
          <td>{{ order.phoneNumber }}</td>

          <td>
            <ul>
              <li *ngFor="let product of order.products">
                {{ product.category.name }} (x{{ product.quantity }}):
                {{ product.price | currency : "INR" }} Total:
                {{ product.totalPrice | currency : "INR" }}
              </li>
            </ul>
          </td>

          <td>{{ order.totalAmountAllProducts | currency : "INR" }}</td>
          <td>{{ order.purchaseDate | date : "medium" }}</td>

          <td>
            <div *ngFor="let transport of order.transport">
              <strong>Vehicle Type:</strong> {{ transport.vehicleType }}<br />
              <strong>Vehicle Number:</strong> {{ transport.vehicleNumber
              }}<br />
              <strong>Driver Phone:</strong> {{ transport.driverPhoneNumber
              }}<br />
              <br />
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <ng-template #noOrders>
    <p>No orders found.</p>
  </ng-template>

  <div class="logout-container">
    <button (click)="onLogout()" class="btn btn-logout">Logout</button>
  </div>
</div>
